html {
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #ffd0ff, #bf90bf);
    overflow-x: hidden;  /* Hide horizontal scrollbar that appears due to vertical scrollbar taking up space */
}

main {
    padding-top: 1.25rem;
    padding-bottom: 0;
}
