{% extends "layout.html" %}

{% block content %}
<div class="header">
    <h3>{{piece.name}} &mdash; {{piece.composer}}</h3>
    <midi-player src="{{ url_for('get_midi', piece_id=piece.id) }}" sound-font id='midi-player'></midi-player>
    <form action="/post_align" method="post">
        <input type="hidden" name="piece_id" value="{{piece.id}}">
        <input type="hidden" name="score_times" id="score_times">
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

{% include 'main_container.html' %}

{% endblock %}

{% block script %}
<!-- html-midi-player -->
<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.4.0"></script>

<!-- custom js -->
<script src="{{ url_for('static', filename='piece.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    var container = document.getElementById('main-container');  // Container of all pages
    var image_manager = new ImageManager(container);

    var midi_player = document.getElementById('midi-player');
    var form_element = document.getElementById('score_times');
    var score_times_manager = new ScoreTimesManager(midi_player, image_manager, form_element)
    score_times_manager.init();
});
</script>
{% endblock %}
