{% extends "layout.html" %}

{% block content %}
<div class="header">
<h1>Add a piece!</h1>

<form action="/add_piece" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Piece:</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>

        <div class="form-group col-md-6">
            <label for="composer">Composer:</label>
            <input type="text" class="form-control" name="composer" id="composer">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="pdf_url">PDF URL:</label>
            <input type="text" class="form-control" name="pdf_url" id="pdf_url">
        </div>

        <div class="form-group col-md-6">
            <label for="midi_url">MIDI URL:</label>
            <input type="text" class="form-control" name="midi_url" id="midi_url">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <button type="submit" class="btn btn-primary">Add Piece</button>
        </div>
    </div>
</form>
</div>
{% endblock %}

{% block script %}
<!-- WebMIDIAPI -->
<script src="{{ url_for('static', filename='WebMIDIAPI.min.js') }}"></script>

<script type="text/javascript">
// MIDI message types
var MIDI_NOTE_OFF = 128;
var MIDI_NOTE_ON = 144;
var MIDI_ACTIVE_SENSING = 254;

$(document).ready(function() {
  var midi = null;

  navigator.requestMIDIAccess().then(onMIDISuccess, onMIDIError);

	function onMIDISuccess(access) {
    // If the browser supports WebMIDI, access is a native MIDIAccess
    // object. If not, it is an instance of a custom class that mimics
    // the behavior of MIDIAccess using Jazz.
    midi = access;

    // inputs = MIDIInputMaps, you can retrieve the inputs with iterators
    var inputs = midi.inputs;

    // returns an iterator that loops over all inputs
    var iteratorInputs = inputs.values()

    // get the first input
    var input = iteratorInputs.next().value

    // onmidimessage(event), event.data & event.receivedTime are populated
    input.onmidimessage = handleMIDIMessage;
	};

	function handleMIDIMessage(event) {
    switch (event.data[0]) {
      case MIDI_NOTE_OFF:
        console.log('Note OFF: note=' + event.data[1] + ', velocity=' + event.data[2] + ', time=' + event.timestamp);
      case MIDI_NOTE_ON:
        console.log('Note ON: note=' + event.data[1] + ', velocity=' + event.data[2] + ', time=' + event.timestamp);
      case MIDI_ACTIVE_SENSING:
        break;
      default:
        console.log('Unknown message: ' + event.data);
        break;
    }
	};

	function onMIDIError(err) {
    console.log('uh-oh! Something went wrong! Error code: ' + err.code);
	};
});
</script>
{% endblock %}
