{% extends "layout.html" %}

{% block content %}

{% include 'main_container.html' %}

{% endblock %}

{% block script %}
<!-- pdf.js -->
<script src="{{ url_for('static', filename='pdf.js') }}"></script>

<!-- magenta-js -->
<script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.0.0/es6/core.js"></script>

<!-- WebMIDIAPI (https://github.com/cwilso/WebMIDIAPIShim) -->
<script src="{{ url_for('static', filename='WebMIDIAPI.min.js') }}"></script>

<!-- custom js -->
<script src="{{ url_for('static', filename='piece.js') }}"></script>

<script type="text/javascript">
$(document).ready(function() {
    var container = document.getElementById('pdf-container');  // Container of all canvas objects
    var image_manager = new ImageManager(container);

    var midi_url = "{{ url_for('get_midi', piece_id=piece.id) }}";
    var score_times = {{ score_times | tojson | safe }};
    var sync_manager = new SyncManager(image_manager, midi_url, score_times)
    sync_manager.init();
});
</script>
{% endblock %}
